body, html {
    display: flex;
    flex-direction: column;
}

* { margin:0; 
    padding:0; 
    box-sizing:border-box; 
}

body{
    max-height: 100%;
    height: 100%;
}

header{
    text-align: center;
    background-image: radial-gradient(circle at 75% 23%, rgba(226, 226, 226,0.05) 0%, rgba(226, 226, 226,0.05) 50%,rgba(11, 11, 11,0.05) 50%, rgba(11, 11, 11,0.05) 100%),radial-gradient(circle at 75% 51%, rgba(168, 168, 168,0.05) 0%, rgba(168, 168, 168,0.05) 50%,rgba(75, 75, 75,0.05) 50%, rgba(75, 75, 75,0.05) 100%),radial-gradient(circle at 38% 11%, rgba(31, 31, 31,0.05) 0%, rgba(31, 31, 31,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(114deg, rgb(5, 95, 166),rgb(114, 125, 230));
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: 
    "a a b b b b c c"
    "a a b b b b c c"
    ;

}

div{
    margin-top: 10px;
}
header h1{
    color: aqua;
}
#section-a{
    grid-area: a;
}

#section-b{
    grid-area: b;
}

#section-c{
    grid-area: c;
}

img{
    width: 20%;
}
.tableContainer {
    width: 75%;
    overflow: scroll;
    float: left;
}

.tableItem {
    text-align: center;
}

.kelompok{
    
}
.nav {
    flex-direction: row;
    margin-bottom: 4%;
}

.addGuest {
    margin: 0 auto;
    width: 100%;
}

.btnAddGuest {
    width: 100%;
}

a {
    text-align: center; 
}

.custom{
    margin-top: 10px;
    width: 100%;
}